body {
    background-color: lightpink;
    color:midnightblue;
    font-family: cursive;
    font-size: 28px;
    margin: 10px;
}

#grand-finale {
    background-color: lightgray;
    margin: auto;
    text-align: center;
    font-size: 32px;
}

span {
    color: red;
    text-decoration: underline;
}